* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 20px;
}

li {
    display: flex;
    justify-content: space-between;
}

.striked-text {
    text-decoration: line-through;
}

.cross {
    cursor: pointer;
    padding-right: 20px;
}